{% extends 'base.html.twig' %}
{% block montitre %}Ajouter un Auteur{% endblock %}
{% block body %}
<div class="navbar">
    {% include "menu_biblio_admin.html.twig" %}

</div>
<div class="form-control border border-5 width=5% border-dark rounded-pill bg-info">
    {{ form(form) }}
</div>
    
  


{% endblock %}

