{% extends 'base.html.twig '%}
{% block montitre %}Formulaire des Utilisateurs {% endblock %}

{% block body %}

    <div class="btn btn-outline-success text-white">
  <h3><a href="{{path('utilisateur')}}">Retour aux utilisateurs !</a></h3>
</div>
<div>

    <table class="table table-striped bordored-radius=2px text-center ">
        <thead class="table-danger">
            <tr>
                    {{form(form)}}
                    
              
      </tbody>
    </table>

</div>
{% endblock body %}
    