{% extends 'base.html.twig '%}
{% block montitre %}formulaire  categorie {% endblock %}

{% block body %}

</div>

<div>
                {{form(form)}}

            </div>
        </div>

    </div>
</div>

{% endblock body %}
