{% extends 'base.html.twig '%}

{% block body %}

<div>{% block montitre %}formulaire  categorie {% endblock %}
</div>

<div>
                <h1>Ajout d'une Categorie</h1>
                {{form(form)}}

            </div>
        </div>

    </div>
</div>

{% endblock body %}
