{% extends 'base.html.twig '%}
{% block montitre %}formulaire  categorie {% endblock %}

{% block body %}
<div class="navbar navbar-primary text-center">
    {% include "menu_biblio_admin.html.twig" %}

</div>


<div>
                {{form(form)}}

            </div>
        </div>

    </div>
</div>

{% endblock body %}
