{% extends 'base.html.twig '%}
{% block montitre %}ajout d'un Article {% endblock %}
{% block body %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col ml2 sl2">
                {{form(form)}}
          
            </div>
        </div>

    </div>
</div>

{% endblock body %}
